---

name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        # These versions match the minimum and maximum versions of pip in
        # requirements.txt
        pip-version: ['==10.0.1', '<= 19']
        python-version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: "Set up Python"
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install dependencies"
        run: |
          pip install --upgrade --editable .[dev]
          pip install --upgrade 'pip ${{ matrix.pip-version }}'
          pip install flake8

      - name: "Lint"
        run: |
          flake8 *.py pip_check_reqs tests
          pip-extra-reqs pip_check_reqs
          pip-missing-reqs pip_check_reqs

      - name: "Run tests"
        run: |
          pytest -s -vvv --cov-fail-under 100 --cov=pip_check_reqs/ --cov=tests tests/ --cov-report=xml

      - name: "Upload coverage to Codecov"
        uses: "codecov/codecov-action@v1"
        with:
          fail_ci_if_error: true
